#data_table {
    border-style : solid;
    border-color : black;
    border-width: 5px;
    border-collapse: collapse;
    width : 100%;
}

td {
    border-style : solid;
    border-color : black;
    border-width : 1 px;
}

.throw-alarm {
    background-color: red;
}

.throw-warning {
    background-color : yellow;
}

.throw-clear {
    background-color: green;
    color : white
}
.top-table {
    background-color: purple;
    color : white
}

.table-element {
    background-color: gray;
    color : white
}